// basic configuration
@font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
@condensed-font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
@bg-color: #eee; // background color of canvas poster
@text-color: #252525; // color of text on canvas

@highlight-bg-color: #fecf34;
@highlight-text-color: black;

@logo-path: url('../img/icon-wbez-stacked-black-darkgrey-light-grey.png');
@logo-sq-width: 100px;
@logo-sq-height: 140px;
@logo-16x9-width: 80px;
@logo-16x9-height: 120px;
@logo-fb-ratio-width: 60px;
@logo-fb-ratio-height: 100px;
@logo-2x1-width: 80px;
@logo-2x1-height: 120px;

@padding: 35px;
@base-font-size: 17px;
@line-height-base: 20/14;
@line-height: floor(@base-font-size * @line-height-base);

// quotable
@credit-color: #999;
@credit-margin: 5px;

@quote-begin-symbol: "\201C";
@quote-end-symbol: "\201D";
@quote-mark-margin: -0.55em;
@quote-font-weight: bold;
@quote-color: red;


// factlist
@bullet-symbol: '\2022';
@bullet-margin: 0.2em;

@list-text-indent: -0.7em;
@list-margin-left: -0.4em;
@list-margin-bottom: 0.3em;

@timestamp-margin: 5px;
@timestamp-color: #ccc;
@timestamp-timezone: " CT";


// themes

/* DARK, STACKED LOGO */
@theme2-bg-color: #252525;
@theme2-text-color: #dbe0e6;
@theme2-highlight-bg-color: #fadd02;
@theme2-highlight-text-color: black;
@theme2-credit-color: #999;
@theme2-logo-path: url('../img/icon-wbez-stacked-white-darkgrey-light-grey.png');
@theme2-sq-logo-width:80px;
@theme2-sq-logo-height: 100px;
@theme2-16x9-logo-width: 80px;
@theme2-16x9-logo-height: 100px;
@theme2-2x1-logo-width: 80px;
@theme2-2x1-logo-height: 100px;
@theme2-fb-ratio-logo-width: 80px;
@theme2-fb-ratio-logo-height: 100px;
@theme2-quote-color: red;

/* LIGHT, WIDE LOGO */

@theme3-bg-color: #eee;
@theme3-text-color: #252525;
@theme3-highlight-bg-color: #f9b816;
@theme3-highlight-text-color: black;
@theme3-credit-color: #ccc;
@theme3-logo-path: url('../img/icon-wbez-black-darkgrey-light-grey.png');
@theme3-sq-logo-width: 245px;
@theme3-sq-logo-height: 62px;
@theme3-16x9-logo-width: 245px;
@theme3-16x9-logo-height: 62px;
@theme3-2x1-logo-width: 245px;
@theme3-2x1-logo-height: 62px;
@theme3-fb-ratio-logo-width: 225px;
@theme3-fb-ratio-logo-height: 46px;
@theme3-quote-color: red;

/* DARK, WIDE LOGO */

@theme4-bg-color: #252525;
@theme4-text-color: #dbe0e6;
@theme4-highlight-bg-color: #dbe0e6;
@theme4-highlight-text-color: #252525;
@theme4-credit-color: #F5F5F5;
@theme4-logo-path: url('../img/icon-wbez-white-darkgrey-light-grey.png');
@theme4-sq-logo-width: 250px;
@theme4-sq-logo-height: 42px;
@theme4-16x9-logo-width: 200px;
@theme4-16x9-logo-height: 32px;
@theme4-2x1-logo-width: 200px;
@theme4-2x1-logo-height: 32px;
@theme4-fb-ratio-logo-width: 200px;
@theme4-fb-ratio-logo-height: 32px;
@theme4-quote-color: red;


/* SOUND OPINIONS DARK */
@theme5-bg-color: #41474E;
@theme5-text-color: #ccc;
@theme5-highlight-bg-color: #ccc;
@theme5-highlight-text-color: #252525;
@theme5-credit-color: #ccc;
@theme5-logo-path: url('../img/Sound_Opinions_horizontal_for_dark_backgrounds.png');
@theme5-sq-logo-width: 180px;
@theme5-sq-logo-height: 100px;
@theme5-16x9-logo-width: 180px;
@theme5-16x9-logo-height: 100px;
@theme5-2x1-logo-width: 180px;
@theme5-2x1-logo-height: 100px;
@theme5-fb-ratio-logo-width: 180px;
@theme5-fb-ratio-logo-height: 100px;
@theme5-quote-color: #ff3a00;


/* SOUND OPINIONS LIGHT */
@theme6-bg-color: #fff;
@theme6-text-color: #252525;
@theme6-highlight-bg-color: #252525;
@theme6-highlight-text-color: #fff;
@theme6-credit-color: #999;
@theme6-logo-path: url('../img/Sound_Opinions_horizontal_for_light_backgrounds.png');
@theme6-sq-logo-width: 220px;
@theme6-sq-logo-height: 110px;
@theme6-16x9-logo-width: 160px;
@theme6-16x9-logo-height: 80px;
@theme6-quote-color:#252525;
@theme6-2x1-logo-width: 120px;
@theme6-2x1-logo-height: 60px;
@theme6-fb-ratio-logo-width: 120px;
@theme6-fb-ratio-logo-height: 60px;
@theme6-quote-color: #ff3a00;

/* NERDETTE BOOK CLUB */
@theme7-bg-color: #ffda89;
// @theme7-bg-img: url('../img/power-up-bg.jpg');
@theme7-text-color: #252525;
@theme7-highlight-bg-color: #252525;
@theme7-highlight-text-color: #ffecc1;
@theme7-credit-color: #ccc;
@theme7-logo-path: url('../img/nerdette-book-club.png');
@theme7-sq-logo-width: 120px;
@theme7-sq-logo-height: 120px;
@theme7-16x9-logo-width: 100px;
@theme7-16x9-logo-height: 100px;
@theme7-quote-color: #252525;
@theme7-2x1-logo-width: 100px;
@theme7-2x1-logo-height: 100px;
@theme7-fb-ratio-logo-width: 100px;
@theme7-fb-ratio-logo-height: 100px;
@theme7-quote-color: #252525;


/* SOUTH SIDE STORIES */
@theme8-bg-color: #508dd9;
// @theme8-bg-img: url('../img/power-up-bg.jpg');
@theme8-text-color: #fff;
@theme8-highlight-bg-color: #f8d65b;
@theme8-highlight-text-color: black;
@theme8-credit-color: #ccc;
@theme8-logo-path: url('../img/logo-ss-stories.png');
@theme8-sq-logo-width: 150px;
@theme8-sq-logo-height: 100px;
@theme8-16x9-logo-width: 100px;
@theme8-16x9-logo-height: 65px;
@theme8-2x1-logo-width: 100px;
@theme8-2x1-logo-height: 80px;
@theme8-fb-ratio-logo-width: 100px;
@theme8-fb-ratio-logo-height: 80px;
@theme8-quote-color: #f8d65b;


@theme9-bg-color: #143458;
// @theme8-bg-img: url('../img/power-up-bg.jpg');
@theme9-text-color: #fff;
@theme9-highlight-bg-color: #fcc973;
@theme9-highlight-text-color: black;
@theme9-credit-color: #ccc;
@theme9-logo-path: url('../img/motive-white.png');
@theme9-sq-logo-width: 120px;
@theme9-sq-logo-height: 58px;
@theme9-16x9-logo-width: 90px;
@theme9-16x9-logo-height: 43px;
@theme9-2x1-logo-width: 90px;
@theme9-2x1-logo-height: 43px;
@theme9-fb-ratio-logo-width: 90px;
@theme9-fb-ratio-logo-height: 43px;
@theme9-quote-color: #fcc973;